{% extends 'base.html' %}

{% block head %}
  <title>New Flight Entry</title>
{% endblock %}

{% block body %}
<div class="container mt-4">

  <h2>New Flight Entry</h2>

  <hr class="my-4">

  <h5>Flight General Information</h5>

  <form method="post" action="/flights/add">
    <div class="row">
      <div class="col-md-4">
        <label>Date</label>
        <input type="date" class="form-control" name="date" required>
      </div>
      <div class="col-md-4">
        <label>Departure Place</label>
        <input type="text" class="form-control" name="dept_place" required>
      </div>
      <div class="col-md-4">
        <label>Departure Time (UTC)</label>
        <input type="time" class="form-control" name="dept_time" required>
      </div>
      <div class="col-md-4">
        <label>Arrival Place</label>
        <input type="text" class="form-control" name="arrv_place" required>
      </div>
      <div class="col-md-4">
        <label>Arrival Time (UTC)</label>
        <input type="time" class="form-control" name="arrv_time" required>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-4">
        <label>Aircraft Make, Model, Variant</label>
        <input type="text" class="form-control" name="aircraft_type">
      </div>
      <div class="col-md-6">
        <label>Aircraft Registration</label>
        <input type="text" class="form-control" name="aircraft_registration" oninput="this.value = this.value.toUpperCase()">
      </div>
    </div>

    <hr class="my-4">

    <h5>Flight Time</h5>

    <div class="row mt-3">
      <div class="col-md-6">
        <label>Single Pilot Time</label>
        <select class="form-control" name="single_pilot_time">
          <option value="">--</option>
          <option value="SE">SE</option>
          <option value="ME">ME</option>
        </select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3">
        <label>Multi Pilot Time</label>
        <input type="time" class="form-control" name="multi_pilot_time">
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-3">
        <label>Total Flight Time</label>
        <input type="time" class="form-control" name="total_flight_time" required>
      </div>
      <div class="col-md-6">
        <label>Pilot In Command</label>
        <input type="text" class="form-control" name="pilot_in_command" required>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-3">
        <label>Landings Day</label>
        <input type="number" class="form-control" name="landings_day">
      </div>
      <div class="col-md-3">
        <label>Landings Night</label>
        <input type="number" class="form-control" name="landings_night">
      </div>
    </div>

    <hr class="my-4">

    <h5>Octal Time</h5>
    <div class="row">
      <div class="col-md-3">
        <label>Night Time</label>
        <input type="time" class="form-control" name="oct_night">
      </div>
      <div class="col-md-3">
        <label>IFR Time</label>
        <input type="time" class="form-control" name="oct_ifr">
      </div>
    </div>

    <hr class="my-4">

    <h5>Performance Time</h5>
    <div class="row">
      <div class="col-md-2">
        <label>PIC</label>
        <input type="time" class="form-control" name="pft_pic" required>
      </div>
      <div class="col-md-2">
        <label>Co-Pilot</label>
        <input type="time" class="form-control" name="pft_copilot">
      </div>
      <div class="col-md-2">
        <label>Dual (hrs)</label>
        <input type="time" class="form-control" name="pft_dual">
      </div>
      <div class="col-md-2">
        <label>Instructor</label>
        <input type="time" class="form-control" name="pft_instructor">
      </div>
    </div>

    <hr class="my-4">

    <h5>FSTD</h5>
    <div class="row">
      <div class="col-md-4">
        <label>FSTD Date</label>
        <input type="date" class="form-control" name="fstd_date">
      </div>
      <div class="col-md-4">
        <label>FSTD Type</label>
        <input type="text" class="form-control" name="fstd_type">
      </div>
      <div class="col-md-2">
        <label>FSTD Time</label>
        <input type="time" class="form-control" name="fstd_total_time_sess">
      </div>
    </div>

    <div class="form-group mt-3">
      <label>Remarks</label>
      <textarea class="form-control" name="remarks" rows="3"></textarea>
    </div>

    <div class="d-grid">
      <button type="submit" class="btn btn-dark mt-4">Submit Flight</button>
    </div>
  </form>
</div>
{% endblock %}
