{% extends 'base.html' %}

{% block head %}
  <title>New Flight Entry</title>
{% endblock %}

{% block body %}
<div class="container mt-4">
  <h2>New Flight Entry</h2>
  <form method="post" action="/flights/add">
    <div class="row">
      <div class="col-md-4">
        <label>Date</label>
        <input type="date" class="form-control" name="date" required>
      </div>
      <div class="col-md-4">
        <label>Departure Place</label>
        <input type="text" class="form-control" name="dept_place" required>
      </div>
      <div class="col-md-4">
        <label>Departure Time</label>
        <input type="number" class="form-control" name="dept_time" min="0" max="2359" required>
      </div>
      <div class="col-md-4">
        <label>Arrival Place</label>
        <input type="text" class="form-control" name="arrv_place" required>
      </div>
      <div class="col-md-4">
        <label>Arrival Time</label>
        <input type="number" class="form-control" name="arrv_time" min="0" max="2359" required>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-4">
        <label>Aircraft Make, Model Variant</label>
        <input type="text" class="form-control" name="aircraft_type">
      </div>
      <div class="col-md-6">
        <label>Aircraft Registration</label>
        <input type="text" class="form-control" name="aircraft_registration">
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-6">
        <label>Single Pilot Time</label>
        <select class="form-control" name="single_pilot_time">
          <option value="">--</option>
          <option value="SE">SE</option>
          <option value="ME">ME</option>
        </select>
      </div>
    </div>

    <hr class="my-4">

    <h5>Flight Time</h5>
    <div class="row">
      <div class="col-md-3">
        <label>Multi Pilot Time (hrs)</label>
        <input type="number" class="form-control" name="multi_pilot_time_hrs">
      </div>
      <div class="col-md-3">
        <label>Multi Pilot Time (min)</label>
        <input type="number" class="form-control" name="multi_pilot_time_min" required>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-3">
        <label>Total Flight Time (hrs)</label>
        <input type="number" class="form-control" name="total_flight_time_hrs">
      </div>
      <div class="col-md-3">
        <label>Total Flight Time (min)</label>
        <input type="number" class="form-control" name="total_flight_time_min" required>
      </div>
      <div class="col-md-6">
        <label>Pilot In Command</label>
        <input type="text" class="form-control" name="pilot_in_command" required>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-3">
        <label>Landings Day</label>
        <input type="number" class="form-control" name="landings_day">
      </div>
      <div class="col-md-3">
        <label>Landings Night</label>
        <input type="number" class="form-control" name="landings_night">
      </div>
    </div>

    <hr class="my-4">

    <h5>Octal Time</h5>
    <div class="row">
      <div class="col-md-3">
        <label>Night Time (hrs)</label>
        <input type="number" class="form-control" name="oct_night_hrs">
      </div>
      <div class="col-md-3">
        <label>Night Time (min)</label>
        <input type="number" class="form-control" name="oct_night_min" required>
      </div>
      <div class="col-md-3">
        <label>IFR Time (hrs)</label>
        <input type="number" class="form-control" name="oct_ifr_hrs">
      </div>
      <div class="col-md-3">
        <label>IFR Time (min)</label>
        <input type="number" class="form-control" name="oct_ifr_mins" required>
      </div>
    </div>

    <hr class="my-4">

    <h5>Performance Time</h5>
    <div class="row">
      <div class="col-md-2">
        <label>PIC (hrs)</label>
        <input type="number" class="form-control" name="pft_pic_hrs">
      </div>
      <div class="col-md-2">
        <label>PIC (min)</label>
        <input type="number" class="form-control" name="pft_pic_min" required>
      </div>
      <div class="col-md-2">
        <label>Co-Pilot (hrs)</label>
        <input type="number" class="form-control" name="pft_copilot_hrs">
      </div>
      <div class="col-md-2">
        <label>Co-Pilot (min)</label>
        <input type="number" class="form-control" name="pft_copilot_min">
      </div>
      <div class="col-md-2">
        <label>Dual (hrs)</label>
        <input type="number" class="form-control" name="pft_dual_hrs">
      </div>
      <div class="col-md-2">
        <label>Dual (min)</label>
        <input type="number" class="form-control" name="pft_dual_min">
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-2">
        <label>Instructor (hrs)</label>
        <input type="number" class="form-control" name="pft_instructor_hrs">
      </div>
      <div class="col-md-2">
        <label>Instructor (min)</label>
        <input type="number" class="form-control" name="pft_instructor_min">
      </div>
    </div>

    <hr class="my-4">

    <h5>FSTD</h5>
    <div class="row">
      <div class="col-md-4">
        <label>FSTD Date</label>
        <input type="date" class="form-control" name="fstd_date">
      </div>
      <div class="col-md-4">
        <label>FSTD Type</label>
        <input type="text" class="form-control" name="fstd_type">
      </div>
      <div class="col-md-2">
        <label>FSTD Time (hrs)</label>
        <input type="number" class="form-control" name="fstd_total_time_sess_hrs">
      </div>
      <div class="col-md-2">
        <label>FSTD Time (min)</label>
        <input type="number" class="form-control" name="fstd_total_time_sess_min">
      </div>
    </div>

    <div class="form-group mt-3">
      <label>Remarks</label>
      <textarea class="form-control" name="remarks" rows="3"></textarea>
    </div>

    <button type="submit" class="btn btn-primary mt-4">Submit Flight</button>
  </form>
</div>
{% endblock %}
